.main {
  height: 100vh;
  display: flex;
  background-position: center;
  background-size: cover;
}
.leftSide {
  width: 15%;
}

.rightSide {
  width: 100%;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, rgba(37, 37, 37, 0.84) 0%, #191919 100%);
}
