.main {
  height: 100vh;
  display: flex;
  background-position: center;
  background-size: cover;
}
.leftSide {
  width: 20%;
  background-color: #1f2029;
}

.rightSide {
  width: 80%;
  display: flex;
  flex-direction: column;
  background-color: #17181f;
}

@media (max-width: 767px) {
  .leftSide {
    display: none;
  }
  .rightSide {
    width: 100%;
  }
}
