@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Russo+One&family=Ubuntu&display=swap%27');

.SingleMessage {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: whitesmoke;
    font-family: Nunito sans, sans-serif;
    .text {
        padding: 20px 60px;
        border-radius: 75px 75px 0 75px;
        background: linear-gradient(180deg, #282828 0%, #151515 100%);
    }
    p {
        margin: 5px;
    }
}