@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

.main {
  .Wrapper {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #1c1035 0%, #191919 100%);
    overflow: hidden;
    padding: 0 5%;
    display: flex;
    align-items: center;
    position: relative;
    .logo {
      display: none;
    }
    .text {
      z-index: 1;
      color: whitesmoke;
      font-family: "Poppins", sans-serif;
      display: flex;
      flex-direction: column;
      gap: 1px;
      .helloUser {
        font-size: 1.5rem;
        span {
          animation: flicker 1.5s infinite alternate;
        }
      }
      h2 {
        font-family: "Open Sans", sans-serif;
        font-size: 3.5rem;
        margin: 0;
        padding: 0;
      }
      h1 {
        font-family: "Poppins", sans-serif;
        padding: 0;
        margin: 0;
        font-size: 4rem;
        font-weight: 500;
        color: whitesmoke;
        animation: flicker 1.5s infinite alternate;

        /* Flickering animation */
        @keyframes flicker {
          0%,
          18%,
          22%,
          25%,
          53%,
          57%,
          100% {
            text-shadow: 0 0 4px whitesmoke, 0 0 11px #8c52ff,
              0 0 19px whitesmoke, 0 0 40px #38b6ff, 0 0 80px #8c52ff,
              0 0 90px #38b6ff, 0 0 100px #8c52ff, 0 0 150px #38b6ff;
          }

          20%,
          24%,
          55% {
            text-shadow: none;
          }
        }
      }
      p {
        font-family: "Open Sans", sans-serif;
        max-width: 500px;
        font-weight: 300;
      }
      .containerBtn {
        margin-top: 20px;
        .btn {
          border: none;
          padding: 20px 30px;
          font-family: "Open Sans", sans-serif;
          font-size: 1.2rem;
          background-color: #38b6ff;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
            rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
            rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          &:hover {
            color: whitesmoke;
            box-shadow: 0 0 15px 5px white;
            animation: box-flicker 1.5s infinite alternate;
            background-color: black;
            @keyframes box-flicker {
              0%,
              18%,
              22%,
              25%,
              53%,
              57%,
              100% {
                box-shadow: 0 0 4px whitesmoke, 0 0 11px #8c52ff,
                  0 0 19px whitesmoke, 0 0 40px #38b6ff, 0 0 80px #8c52ff,
                  0 0 90px #38b6ff, 0 0 100px #8c52ff, 0 0 150px #38b6ff;
              }
    
              20%,
              24%,
              55% {
                box-shadow: none;
              }
            }
          }
          a {
            color: whitesmoke;
            text-decoration: none;
            &:hover {
              color: whitesmoke;
            }
            &:active {
              color: whitesmoke;
            }
            &:visited {
              color: whitesmoke;
            }
          }
        }
      }
    }
    .room {
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
    }
  }
}

@media screen and (max-width: 1024px) {
  .main {
    background-color: linear-gradient(180deg, #1c1035 0%, #191919 100%);

    .Wrapper {
      flex-direction: column;
      width: 100%;
      padding: 0;
      // background-image: url("@/../../../public/rooooooom.png");
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: center;
      justify-content: center;
      align-items: flex-start;

      .text {
        padding: 0 3%;
        // gap: 10px;
        .helloUser {
          font-size: 1.2rem;
        }
        h1 {
          font-size: 2.6rem;
        }
        h2 {
          font-size: 2.6rem;
        }
        .containerBtn {
          .btn {
            padding: 10px;
            a {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 1rem;
              &:visited {
                color: whitesmoke;
              }
            }
          }
        }
      }
      .logo {
        display: block;
        margin-left: -15px;
      }
      .room {
        display: none;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .main {
    background-color: linear-gradient(180deg, #1c1035 0%, #191919 100%);
    display: flex;
    .Wrapper {
      flex-direction: column;
      width: 100%;
      padding: 0;
      //gap: 50px;
      justify-content: flex-start;
      align-items: center;
      
      .text {
        padding: 6% 3%;
        gap: 10px;
        .helloUser {
          font-size: 2.7rem;
          margin-bottom: 30px;
        }
        h1 {
          font-size: 3.1rem;
        }
        h2 {
          font-size: 3.1rem;
        }
        p {
          font-size: 1.4rem;
        }
        .containerBtn {
          .btn {
            padding: 10px;
            a {
              display: flex;
              justify-content: center;
              align-items: center;
              font-size: 1.6rem;
              &:visited {
                color: whitesmoke;
              }
            }
          }
        }
      }
      .logo {
        display: block;
        margin-left: -15px;
        align-self: flex-start;
      }
      .room {
        display: none;
      }
    }
  } 
}