.home {
  background-color: black;
}

.main {
  height: 100vh;
  display: flex;
}
.leftSide {
  width: 20%;
}

.rightSide {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: linear-gradient(180deg, rgba(37, 37, 37, 0.84) 0%, #191919 100%);
}
