.topicItem {
  cursor: pointer;
  transition: all 0.35s;
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  color: white;
  display: flex;
  gap: 10px;
  a {
    text-decoration: none;
    color: white;
    &:hover {
      font-weight: bold;
      color: #8c52ff;
    }
  }
}
