@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

.ChatSidebar {
  background-color: #1f2029;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
  .home {
    display: flex;
    justify-content: center;
    img:hover {
      filter: drop-shadow(1px 1px 20px #38b6ff);
    }
  }

  .title {
    padding: 0 6%;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    color: #ecf0f1;
    margin-bottom: 24px;
  }

  .lastMsgs {
    justify-content: flex-start;
    gap: 9px;
  }
  .topicnUser {
    margin-top: auto;
    .topics {
      ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 15px;
        color: #ecf0f1;
        padding-left: 40px;
        padding-bottom: 20px;

        li {
          cursor: pointer;
          transition: all 0.35s;
          font-family: "Open Sans", sans-serif;
          font-size: 0.9rem;
          color: #ecf0f1;
          display: flex;
          gap: 10px;
          &:hover {
            font-weight: bold;
            color: #38b6ff;
            span {
              color: #38b6ff;
            }
          }
        }
      }
    }
  }
}

.lastMsgs {
  height: 322px;
  overflow-y: scroll;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #282932;
    border-radius: 4px;
    background-color: #282932;
  }

  &::-webkit-scrollbar {
    width: 6px;
    background-color: #17181f;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #17181f;
  }
}

@media (max-width: 850px) {
  .ChatSidebar {
    display: none;
  }
}
