@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@100;200;300;400;500;600;700&display=swap%27");

.TitleBar {
  background: #17181f;
  padding: 20px 7px;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.089);
  .contain {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .text {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin: 0 15px;
    .title {
      display: flex;
      gap: 20px;
      align-items: center;

      img {
        transition: 0.9s;
        &:hover {
          transform: scale(1.2) rotateY(360deg) rotateZ(-30deg);
        }
      }
    }
    span {
      display: none;
    }
    h2 {
      font-family: "Poppins", sans-serif;
      text-transform: capitalize;
      font-size: 2.3rem;
    }
    input {
      font-family: "Poppins", sans-serif;
      width: 20%;
      height: 40px;
      background: #17181f;
      color: whitesmoke;
      border: none;
      border-bottom: 1px solid rgba(255, 255, 255, 0.089);
      padding: 10px 5px 5px 10px;
      font-size: 1rem;
      /* filter: drop-shadow(0px 4px 4px rgba(255, 255, 255, 0.115)); */
      &:focus {
        outline: none;
      }
      &::placeholder {
        font-family: "Poppins", sans-serif;
        font-size: 0.8rem;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .TitleBar {
    padding: 20px 7px;
    .text {
      .title {
        gap: 15px;
        h2 {
          font-size: 1.4rem;
        }
        img {
          width: 30px;
          height: 30px;
        }
      }
      span {
        display: block;
      }
      input {
        display: none;
      }
    }
  }
}
