@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@100;200;300;400;500;600;700&display=swap%27%22");

.wrapper {
  background: #17181F;
  display: block;
  height: 100vh;
 .Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100wh;
  color: whitesmoke;
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  .logo {
    transition: all 0.35s;
  }
  .logo:hover {
    filter: drop-shadow(2px 2px 50px #38b6ff7d);
  }
  .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px;
  }
  .container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .btn {
      position: relative;
      cursor: pointer;
      padding: 10px;
      font-size: 1rem;
      color: whitesmoke;
      font-family: "Poppins", sans-serif;
      background-color: rgba(0, 0, 0, 0.5);
      border: 2px solid rgba(0, 0, 0, 0.5);
      border-radius: 4px;
      text-shadow: 0 0 15px #38b6ff;
      text-decoration: none;
      letter-spacing: 0.1rem;
      transition: 0.25s;
      z-index: 1;
      &:hover {
        color: #fff;
        border: 2px solid rgba(0, 0, 0, 0);
        box-shadow: 0 0 0px hsl(202, 100%, 61%);
        &::before {
          transform: scale(1);
          transition-delay: 0.15s;
          box-shadow: 0 0 10px #38b6ff, 0 0 30px #38b6ff, 0 0 60px #38b6ff;
        }
        span {
          opacity: 0;
          transition-delay: 0s;
        }
      }
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #38b6ff;
        z-index: -1;
        transform: scale(0);
        transition: 0.25s;
      }
      span {
        position: absolute;
        background: #38b6ff;
        pointer-events: none;
        border-radius: 2px;
        box-shadow: 0 0 10px #38b6ff, 0 0 20px #38b6ff, 0 0 30px #38b6ff,
          0 0 50px #38b6ff, 0 0 100px #38b6ff;
        transition: 0.25s ease-in-out;
        transition-delay: 0.25s;
      }
    }
  }
 }
} 
