.MessagesList {
  padding: 15px 5% 0 5%;
  height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background: #17181f;

  .messages {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    padding: 15px 0;
    width: 100%;
    overflow-y: scroll;
    background-image: url("@/../../../../public/patterndiagonale.png");
    background-repeat: repeat;
    background-size: 15rem;

    &::-webkit-scrollbar {
      width: 12px;
      background-color: #17181f;
    }
    &::-webkit-scrollbar-track {
      border-radius: 10px;
      background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 12px;
      background-color: #282932;
    }
  }
}

@media (max-width: 850px) {
  .MessagesList {
    width: 100vw;
  }
}
