@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700&display=swap%27");

.Message {
  color: whitesmoke;
  display: flex;
  gap: 10px;
  width: 100%;
  &.user {
    justify-content: flex-start;
    flex-direction: row-reverse;
    padding: 5px;
    .text {
      background-color: #554671;
      border-radius: 10px 0 10px 10px;
    }
  }
  &.prova {
    background-color: transparent;
  }
  .userImg {
    border-radius: 100%;
    border: none;
    width: 40px;
    height: 40px;
    object-fit: cover;
    box-shadow: 4px 6px 9px 3px rgba(0, 0, 0, 0.25);
  }
  .text {
    border-radius: 0 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0.5rem;
    width: fit-content;
    max-width: 70%;
    background: #1f2029;
    padding: 8px 15px;
    h3 {
      font-size: 0.9rem;
      color: whitesmoke;
      font-family: "Poppins", sans-serif;
      font-weight: 800;
    }
    .paragraphAndTime {
      width: 100%;
      display: flex;
      gap: 20px;
      align-items: flex-end;
      justify-content: space-between;

      .contentMessage {
        color: whitesmoke;
        font-size: 0.9rem;
        font-weight: 300;
        font-family: "Open Sans", sans-serif;
        /* trim della riga del messaggio */
        //white-space: nowrap;

        overflow: hidden;
        text-overflow: ellipsis;
        word-wrap: break-word;
      }
      .time {
        color: rgb(179, 179, 179);
        font-size: 0.8rem;
        font-weight: 300;
        font-family: "Open Sans", sans-serif;
      }
    }
    span {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }
}

@media screen and (max-width: 767px) {
  .Message {
    .text {
      max-width: 75%;
    }
  }
}
